@using Entity
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ProductGroup3> productGroup3s = Query.ProductGroup3s();
    List<Product> products = Query.Product();
}
<link href="~/assets/css/croppie.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/croppie.js"></script>
<link href="~/assets/css/Site.css" rel="stylesheet" />


<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content" style="padding-top: 5%;">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label pt-2 mt-2">
                <span class="kt-portlet__head-icon">
                    <i class="flaticon-list"></i>
                </span>
                <h5 class="kt-subheader__title">
                    Ürün Tanımları
                </h5>
            </div>
        </div>
        @*<div class="col-3" style="text-align: -webkit-center;">
                <label for="btnSelectImage" style="font-size:15px;float: left;margin-left: 50px;"><b>Lütfen Görsel Seçiniz:</b></label>
                <br />

                <a id="btnCropBase64" class="btn btn-secondary mb-2 " style="background: #ffb822; color: #ffffff; background-color: #ffad00; float: right; margin-right: 45px;">Önizle</a>
                <a id="btnSelectImagePath" class="btn btn-secondary mb-2 mr-4" style="background: #ffb822; color: #ffffff; background-color: #ffad00;">Dosya Seç</a>

                <br />
                <input hidden type="file" id="btnSelectImage" />
                <div class="demo-wrapper" style="width: 69%;">
                    <div class="demo"></div>
                </div>

                <div id="resultBase64"></div>

                <div id="saveForm" style="display:none">
                    @using (Html.BeginForm("SaveImage", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("ImgBase64")
                        <button type="submit" id="button1" name="button1" formaction='@Url.Action("abc", "Order")'>Save</button>

                        <button class="btn btn-secondary " style="background: #ffb822; color: #ffffff; background-color: #ffad00; float: right; margin-right: 45px;">Ekle</button>}
                </div>




                <script>
                                                        $("#btnSelectImagePath").click(function () {
                                                            $('#btnSelectImage').trigger('click');
                                                            debugger
                                                        });

                var demo = $('.demo').croppie({
                     url: '@Url.Content("~/assets/media/Sebze/barbunya.jpg")'
                });

                $("#btnCropBase64").click(function () {
                    demo.croppie('result', {
                        type: "base64",
                        size: { width:200, height: 200}
                    }).then(function (base64) {
                        var img = $("<img/>").attr("src", base64);

                        $("#resultBase64").html(img);
                        $("#ImgBase64").val(base64);
                        $("#saveForm").show(); debugger
                    });
                });

                $("#btnCropHtml").click(function () {
                    demo.croppie('result', 'html').then(function (html) {
                        $("#resultHtml").html(html);
                    });
                });

                                                        function readURL(input) {
                                                            debugger
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            demo.croppie('bind', {
                                url: e.target.result
                            }).then(function () {
                                console.log('jQuery bind complete');
                            });
                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                }

                $("#btnSelectImage").change(function () {
                    readURL(this);
                });
                </script>
            </div>*@

        <div class="kt-portlet kt-portlet--mobile pt-2">
            <div class="kt-portlet__body">
                <!--begin: Datatable -->
                <table class="table table-striped- table-bordered table-hover table-checkable" id="product_table">
                    <thead>
                        <tr>
                            <th>S/N </th>
                            <th>Stok Kodu</th>
                            <th>Barkodu</th>
                            <th>Ürün Adı</th>
                            <th>Sipariş Birimi</th>
                            <th>Ürün Grubu</th>
                            <th>Durumu</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                </table>
                <!--end: Datatable -->
            </div>
        </div>
    </div>
</div>

<!--begin::Modal-->
<div class="modal fade " id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#003366;">
                <h5 class="modal-title" style="color:white;" id="ProductTitleName">Ürün Bilgileri</h5>
                <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body pb-0 mb-0">
                <div class="kt-portlet kt-portlet--tabs">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#kt_apps_contacts_view_tab_1" role="tab">
                                        <i class="flaticon2-note"></i> Ürün Bilgileri
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#kt_apps_contacts_view_tab_2" role="tab">
                                        <i class="flaticon2-time"></i> Resim Ekle
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#kt_apps_contacts_view_tab_2" role="tab">
                                        <i class="flaticon2-time"></i> Detaylar
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#kt_apps_contacts_view_tab_3" role="tab">
                                        <i class="flaticon2-calendar-3"></i> Grup Tanıtım Kodları
                                    </a>
                                </li>
                                <li style="align-self: center;">
                                    <div class="form-group row mb-0 " style="align-self:center;">
                                        <label style="align-self: center;" class="col-8 col-form-label pr-0 mr-0">Siparişte Gizle:</label>
                                        <div style="align-self: center;" class="col-4 pl-0 ml-0">
                                            <span style="align-self: center; " class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success pt-1 mt-1">
                                                <label class="mb-0" style="align-self: center;">
                                                    <input id="visibileForProductList" type="checkbox" name="">
                                                    <span></span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="tab-content kt-margin-t-20">
                            <!--Begin:: Tab Content-->
                            <div class="tab-pane active" id="kt_apps_contacts_view_tab_1" role="tabpanel">
                                <!--begin::Form-->
                                <form class="kt-form kt-form--label-right">
                                    <div class="kt-portlet__body">
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <div class="form-group row form-group-marginless kt-margin-t-1">
                                                    <label class="col-lg-2 col-form-label" style=" align-self: center"><b>Stok Kodu</b></label>
                                                    <div class="col-lg-5 mb-1" style=" align-self: center">
                                                        <input type="text" id="ProductKodu" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row form-group-marginless kt-margin-t-1">
                                                    <label class="col-lg-2 col-form-label" style=" align-self: center"><b>Barkodu</b></label>
                                                    <div class="col-lg-5 mb-1" style=" align-self: center">
                                                        <input type="text" id="Barkod" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row form-group-marginless kt-margin-t-1">
                                                    <label class="col-lg-2 col-form-label" style=" align-self: center"><b>Ürün Adı</b></label>
                                                    <div class="col-lg-10 mb-1" style=" align-self: center">
                                                        <input type="email" id="ProductName" class="form-control" disabled style="color:blue;">
                                                    </div>
                                                </div>
                                                <!--Beyzanın tasarımı bilginize-->
                                                <div class="form-group row form-group-marginless kt-margin-t-1">
                                                    <label class="col-lg-2 col-form-label" style=" align-self: center"><b>Yabancı Adı</b></label>
                                                    <div class="col-lg-10 mb-1" style=" align-self: center">
                                                        <input type="email" id="ProductForeignKey" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row form-group-marginless kt-margin-t-1">
                                                    <label class="col-lg-2 col-form-label" style=" align-self: center"><b>Kısa Tanım</b></label>
                                                    <div class="col-lg-5 mb-1" style=" align-self: center">
                                                        <input type="email" id="ShortName" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group pl-3 row form-group-marginless kt-margin-t-1">
                                                    <label class="col-lg-2 col-form-label" style=" align-self: center"><b>Ürün Grubu</b></label>
                                                    <select id="categoryForProductSelect" class="custom-select form-control form-control kt-selectpicker col-lg-10" name="categoryForProductSelect" data-live-search="true">
                                                        <option id="selectProductCategory" value=""></option>
                                                        @foreach (var item in productGroup3s.Where(q => q.isVisible == true))
                                                        {
                                                        <option data-content="" value="@item.ID">@item.ProductGroups2.ProductGroups.Name.ToUpper(), @item.ProductGroups2.Name.ToUpper(), @item.Name.ToUpper()</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                                                <div class="form-group row form-group-marginless kt-margin-t-1">
                                                    <label class="col-lg-2 col-form-label" style=" align-self: center"><b>Toplam KDV</b></label>
                                                    <div class="col-lg-4 mb-1" style=" align-self: center">
                                                        <div class="kt-input-icon">
                                                            <input type="text" id="WholeSaleTaxPercentage" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label" style=" align-self: center"><b>Perakende KDV</b></label>
                                                    <div class="col-lg-4 mb-1" style=" align-self: center">
                                                        <div class="kt-input-icon">
                                                            <input type="text" id="RetailTaxPercentage" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row form-group-marginless kt-margin-t-1">
                                                    <label class="col-lg-2 col-form-label" style=" align-self: center"><b>Döviz Cinsi</b></label>
                                                    <div class="col-lg-4 mb-1" style=" align-self: center">
                                                        <div class="kt-input-icon">
                                                            <input type="text" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label" style=" align-self: center"><b>Cinsi</b></label>
                                                    <div class="col-lg-4 mb-1" style=" align-self: center">
                                                        <div class="kt-input-icon">
                                                            <input type="text" class="form-control" disabled>
                                                            <!--Örnek:Ticari mall vb-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-repeater-item class="form-group row align-items-center pl-5 ml-5 mt-5">
                                                    <div class="col-md-3" style=" align-self: center">
                                                        <div class="kt-form__group--inline">
                                                            <div class="kt-form__label">
                                                                <label><b>Birim Adı</b></label>
                                                            </div>
                                                            <div class="kt-form__control">
                                                                <div class="kt-form__control">
                                                                    <input type="email" id="UnitName" class="form-control" disabled>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-md-none kt-margin-b-10"></div>
                                                    </div>

                                                    <div class="col-md-8" style=" align-self: center">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <div class="kt-form__group--inline">
                                                                    <div class="kt-form__label">
                                                                        <label class="kt-label m-label--single"><b>Katsayı</b></label>
                                                                    </div>
                                                                    <div class="kt-form__control">
                                                                        <input type="email" id="Factor" class="form-control" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="d-md-none kt-margin-b-10"></div>
                                                            </div>
                                                            <div class="col-md-2" style=" align-self: center">
                                                                <div class="kt-form__group--inline">
                                                                    <div class="kt-form__label">
                                                                        <label><b>Net Ağırlık</b></label>
                                                                    </div>
                                                                    <div class="kt-form__control">
                                                                        <input type="email" id="Weight" class="form-control" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="d-md-none kt-margin-b-10"></div>
                                                            </div>
                                                            <div class="col-md-2" style=" align-self: center">
                                                                <div class="kt-form__group--inline">
                                                                    <div class="kt-form__label">
                                                                        <label><b>Dara</b></label>
                                                                    </div>
                                                                    <div class="kt-form__control">
                                                                        <input type="email" class="form-control" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="d-md-none kt-margin-b-10"></div>
                                                            </div>
                                                            <div class="col-md-2" style=" align-self: center">
                                                                <div class="kt-form__group--inline">
                                                                    <div class="kt-form__label">
                                                                        <label><b>Genişlik</b></label>
                                                                    </div>
                                                                    <div class="kt-form__control">
                                                                        <input type="email" class="form-control" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="d-md-none kt-margin-b-10"></div>
                                                            </div>
                                                            <div class="col-md-2" style=" align-self: center">
                                                                <div class="kt-form__group--inline">
                                                                    <div class="kt-form__label">
                                                                        <label><b>Boy</b></label>
                                                                    </div>
                                                                    <div class="kt-form__control">
                                                                        <input type="email" class="form-control" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="d-md-none kt-margin-b-10"></div>
                                                            </div>
                                                            <div class="col-md-2" style=" align-self: center">
                                                                <div class="kt-form__group--inline">
                                                                    <div class="kt-form__label">
                                                                        <label><b>Yükseklik</b></label>
                                                                    </div>
                                                                    <div class="kt-form__control">
                                                                        <input type="email" class="form-control" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="d-md-none kt-margin-b-10"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3" style="text-align: -webkit-center;">
                                                <div class="row">
                                                    <label for="btnSelectImage" style="font-size:15px;float: left;margin-left: 80px;"><b>Lütfen Görsel Seçiniz:</b></label>
                                                    <br />
                                                    <div class="col-6">
                                                        <a id="btnSelectImagePath" class="btn btn-secondary mb-2 ml-5" style="background: #ffb822; color: #ffffff; background-color: #ffad00;">Dosya Seç</a>
                                                    </div>
                                                    <div class="col-6">
                                                        <a id="btnCropBase64" class="btn btn-secondary mb-2" style="background: #ffb822; color: #ffffff; background-color: #ffad00; float: right; margin-right: 45px;">Önizle</a>
                                                    </div>
                                                </div>
                                                <br />
                                                <input hidden type="text" id="productphoto" />

                                                <input hidden type="file" id="btnSelectImage" />
                                                <div class="demo-wrapper" style="width: 69%;">
                                                    <div class="demo"></div>
                                                </div>

                                                <div id="resultBase64"></div>

                                                @*<div id="saveForm" style="display:none">
                                                        @using (Html.BeginForm("SaveImage", "Home", FormMethod.Post))
                                                        {
                                                            @Html.AntiForgeryToken()
                                                            @Html.Hidden("ImgBase64")
                                                            <button class="btn btn-secondary " style="background: #ffb822; color: #ffffff; background-color: #ffad00; float: right; margin-right: 45px;">Ekle</button>}
                                                    </div>*@




                                                <script>

                                                    $("#btnSelectImagePath").click(function () {
                                                        $('#btnSelectImage').trigger('click');
                                                        debugger
                                                    });
                                                    var prodID = $("#productModal #productphoto").val();

                                                    var demo = $('#productModal .demo').croppie({

                                                        viewport: {
                                                            width: 100,
                                                            height: 100
                                                        },
                                                    });



                                                    $("#btnCropBase64").click(function () {
                                                        demo.croppie('result', {
                                                            type: "base64",
                                                            size: { width: 200, height: 200 }
                                                        }).then(function (base64) {
                                                            var img = $("<img/>").attr("src", base64);
                                                            $("#resultBase64").show();

                                                            $("#resultBase64").html(img);
                                                            $("#ImgBase64").val(base64);
                                                            //$("#saveForm").show();
                                                            debugger
                                                        });
                                                    });

                                                    $("#btnCropHtml").click(function () {
                                                        demo.croppie('result', 'html').then(function (html) {
                                                            $("#resultHtml").html(html);
                                                        });
                                                    });
                                                    function abc(photo) {
                                                        debugger
                                                        $("#btnCropBase64").hide();
                                                        $("#resultBase64").hide();

                                                        demo.croppie('bind', {

                                                            url: "." + photo,
                                                        });
                                                    }
                                                    function readURL(input) {
                                                        debugger
                                                        if (input.files && input.files[0]) {
                                                            var reader = new FileReader();

                                                            reader.onload = function (e) {
                                                                demo.croppie('bind', {
                                                                    url: e.target.result
                                                                }).then(function () {
                                                                    console.log('jQuery bind complete');
                                                                });
                                                            }
                                                            reader.readAsDataURL(input.files[0]);
                                                        }
                                                        $("#btnCropBase64").show();

                                                    }

                                                    $("#btnSelectImage").change(function () {
                                                        readURL(this);
                                                    });
                                                </script>
                                            </div>

                                        </div>

                                    </div>
                                </form>

                                <!--end::Form-->
                            </div>
                            <!--End:: Tab Content-->
                            <!--Begin:: Tab Content-->
                            <div class="tab-pane" id="kt_apps_contacts_view_tab_2" role="tabpanel">

                                <form class="kt-form kt-form--label-right">
                                    <div class="kt-portlet__body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group row mb-1  abs">
                                                    <label class="col-lg-2 col-form-label"><b>Min. Seviyesi</b></label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="0" disabled>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label">Sipariş Seviyesi</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="0,00" disabled>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label">Hedef Seviyesi</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="0,00" disabled>
                                                    </div>

                                                </div>
                                                <!--Beyzanın tasarımı bilginize-->

                                                <div class="form-group row mb-1 ">
                                                    <label class="col-lg-2 col-form-label">Min. seviye Belirleme Günü</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="0">
                                                    </div>
                                                    <label class="col-lg-2 col-form-label">Sipariş Seviyesi Belirleme Günü</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="0">
                                                    </div>
                                                    <label class="col-lg-2 col-form-label">Hedef Seviyesi Belirleme Günü</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="0">
                                                    </div>
                                                </div>
                                                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit mb-3 mt-0"></div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-lg-2 col-form-label">Verilen Sipariş Birimi</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="">
                                                    </div>
                                                    <label class="col-lg-2 col-form-label">Alınan Sipariş Birimi</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="">
                                                    </div>
                                                    <label class="col-lg-2 col-form-label">Sipariş Süresi</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit mb-3 mt-0"></div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-lg-2 col-form-label">Ambar Adresi</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="">
                                                    </div>
                                                    <label class="col-lg-2 col-form-label">Kar Oranı</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="0,00">
                                                    </div>
                                                    <label class="col-lg-2 col-form-label">Prim Oranı</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="0,00">
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-lg-2 col-form-label">Komisyon Hizmet Kodu</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="">
                                                    </div><label class="col-lg-2 col-form-label">Öngörülen Garanti Süresi</label>
                                                    <div class="col-lg-1 pr-0">
                                                        <input type="email" class="form-control" placeholder="0">
                                                    </div>
                                                    <div class="col-lg-1 pl-0">
                                                        <select class="form-control" id="exampleSelect1">
                                                            <option>Ay</option>
                                                            <option>Gün</option>
                                                            <option>Yıl</option>
                                                        </select>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label">Puanı</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="0,00">
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-lg-2 col-form-label">Komisyon Oranı</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="0,00">
                                                    </div>
                                                    <label class="col-lg-2 col-form-label">MikroShop Maks. İskonto Oranı</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="0,00">
                                                    </div>
                                                    <label class="col-lg-2 col-form-label">İskonto Oranı</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="0,00">
                                                    </div>

                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-lg-2 col-form-label">İskonto Tutarı</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="0,00">
                                                    </div>
                                                    <label class="col-lg-2 col-form-label">Varsayılan Gider Kodu</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="0,00">
                                                    </div>
                                                    <label class="col-lg-2 col-form-label">Terazi STK'si</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="0,00">
                                                    </div>
                                                </div>
                                                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit mb-3 mt-0"></div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-lg-2 col-form-label">Raf Ömrü</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="0,00">
                                                    </div>
                                                    <label class="col-lg-2 col-form-label">Hal Rüsum</label>
                                                    <div class="col-lg-2">
                                                        <input type="email" class="form-control" placeholder="0,00">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!--End:: Tab Content-->
                            <!--Begin:: Tab Content-->
                            <div class="tab-pane" id="kt_apps_contacts_view_tab_3" role="tabpanel">
                                <form class="kt-form kt-form--label-right" action="">
                                    <div class="kt-form__body">
                                        <div class="kt-section kt-section--first">
                                            <div class="kt-section__body">
                                                <div class="form-group row mb-1">
                                                    <div class="col-lg-2">
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <label class="col-xl-6 col-lg-6 col-form-label" style="text-align: center;">Kodu</label>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <label class="col-xl-6 col-lg-6 col-form-label" style="text-align: center;">Adı</label>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Ana Grup</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" id="MainGroupCode" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" id="MainGroupCode" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Alt Grup</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" id="SubGroupCode" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" id="SubGroupCode" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1" style="align-self: center">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Ana Sağlayıcı</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Ürün</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" id="ManufacturerCode" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" id="ManufacturerCode" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Reyon</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" id="SectionCode" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" id="SectionCode" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1" style="align-self: center">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Ambalaj</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Marka</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" id="BrandCode" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" id="BrandCode" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Muhasebe Grup</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Sektör</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" id="SectorCode" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" id="SectorCode" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Ürüm Sorumlusu</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Kalite Kontrol</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Model</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" id="ModelCode" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" id="ModelCode" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Yıl ve Sezon</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Anahammedde</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Kategori</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" id="CategoryCode" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" id="CategoryCode" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Prim Grup</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="kt_apps_contacts_view_tab_3" role="tabpanel">
                                <form class="kt-form kt-form--label-right" action="">
                                    <div class="kt-form__body">
                                        <div class="kt-section kt-section--first">
                                            <div class="kt-section__body">
                                                <div class="form-group row mb-1">
                                                    <div class="col-lg-2">
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <label class="col-xl-6 col-lg-6 col-form-label" style="text-align: center;">Kodu</label>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <label class="col-xl-6 col-lg-6 col-form-label" style="text-align: center;">Adı</label>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Ana Grup</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" id="MainGroupCode" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" id="MainGroupCode" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Alt Grup</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" id="SubGroupCode" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" id="SubGroupCode" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1" style="align-self: center">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Ana Sağlayıcı</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Ürün</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" id="ManufacturerCode" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" id="ManufacturerCode" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Reyon</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" id="SectionCode" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" id="SectionCode" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1" style="align-self: center">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Ambalaj</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Marka</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" id="BrandCode" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" id="BrandCode" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Muhasebe Grup</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Sektör</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" id="SectorCode" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" id="SectorCode" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Ürüm Sorumlusu</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Kalite Kontrol</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Model</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" id="ModelCode" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" id="ModelCode" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Yıl ve Sezon</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Anahammedde</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Kategori</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" id="CategoryCode" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" id="CategoryCode" class="form-control" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <label class="col-xl-2 col-lg-3 col-form-label">Prim Grup</label>
                                                    <div class="col-lg-2" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                    <div class="col-lg-5" style="align-self: center">
                                                        <input type="email" class="form-control" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="justify-content:left;width: 100%; ">
                    <div class="row" style="width:100%;">

                        <div class="col-3">
                            <button type="button" value"" onclick="EditProduct(this.value)" id="back" class="btn btn-secondary " style="background:#ffb822; color:#ffffff; background-color:#ffad00;"><i class="icon flaticon2-back"></i>Geri</button>
                            <button type="button" value"" onclick="EditProduct(this.value)" id="next" class="btn btn-secondary " style="background: #ffb822; color: #ffffff; background-color: #ffad00;">İleri<i class="icon pl-2 pr-0 flaticon2-next"></i></button>
                        </div>
                        <div class="col-6" style="text-align: center;align-self: center;">
                            <label class="pr-1 "><b>Kayıt:</b></label>
                            <label id="CreatedUser" class="pr-1"></label>
                            <label id="CreatedDate" class="pr-1"></label>
                            <label class="pr-1"><b class="pl-3">Güncelleme:</b></label>
                            <label id="UpdateUser" class="pr-1"></label>
                            <label id="UpdateDate" style="margin-right: auto;"><i></i></label>
                        </div>
                        <div class="col-3" style="text-align:right;">
                            <button type="button" class="btn btn-danger " data-dismiss="modal">Vazgeç</button>
                            <button type="button" value"" onclick="SaveAllForProductDet()" id="SaveAllForProductDetButton" class="btn btn-secondary " style="background:#ffb822; color:#ffffff; background-color:#ffad00;">Kaydet</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--end::Modal-->
<!--begin:: Global Mandatory Vendors -->
<script src="./assets/vendors/general/jquery/dist/jquery.js" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        getProducts();
    });
</script>

