@using Entity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ProductGroup> productGroups = Query.ProductGroups();

    int id = 0;
    if (TempData["groupId"] != null)
    {
        id = (int)TempData["groupId"];
    }
    if (id == 0)
    {
        id = productGroups.First().ID;
    }
    List<Settings> settings = Query.settings();
    string settings2 = settings.Where(q => q.SettingsCode == 7070).Select(z => z.Value).FirstOrDefault();
    string settings3 = settings.Where(q => q.SettingsCode == 7474).Select(z => z.Value).FirstOrDefault();

    List<Product> products = Query.Product();
    List<BranchFormat> branchFormats = Query.getBranchFormat();

    List<ProductGroup2> productGroups2 = Query.ProductGroup2s(id);
    List<ProductGroup3> productGroups3 = Query.ProductGroup3s();
    User CurrentUser = Session["CurrentUser"] as User;


    List<int> c = products.Where(q => q.Visible == false && q.ProductGroup2ID != 0).Select(q => q.ProductGroup2ID).Distinct().ToList();
    List<ProductGroup2> productGroup2s = new List<ProductGroup2>();
    foreach (var item in c)
    {

        ProductGroup2 prod = Query.ProductGroup2ID(item).First();
        productGroup2s.Add(prod);

    }
    List<Branch> branches = Query.Branches();
    int i = 0;
    int k = 0;
    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    string zc = url.Split('?').Last();
}



<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content" style="padding-top: 5%;">
    <form class="kt-form kt-form--label-right" method="post" action="/Order/AddBPtoOrderDetails">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head-label center pr-3">
                <div class="kt-portlet__head--lg" style="width: 100%; align-self: center;">
                    <div class="row pt-2 mt-2 pb-1 mb-1">
                        <div class="col-lg-1 pb-2 pl-1 " style=" align-self: center;text-align:left; ">
                            <h5 class="pre-with-output mr-0 pr-0 ml-0 pl-0" style="color:black; ">Yeni Sipariş</h5>
                        </div>
                        <div class="col-lg-3 col-sm-6 pb-2 pl-0 pr-0" style=" align-self: center; ">
                            <select hidden id="userID" class="custom-select form-control" name="userID" style="color: red; font-weight: bold; ">
                                <option value="@CurrentUser.ID"></option>
                            </select>
                            <input hidden type="text" id="settings" readonly placeholder="" value=@settings2 style=" font-size: 12px; color: red; text-align: center; " />
                            <input hidden type="text" id="settings2" readonly placeholder="" value=@settings3 style=" font-size: 12px; color: red; text-align: center; " />

                            <select id="branch" class="custom-select form-control pl-2 pr-1 selectpicker" name="BranchCode" >
                                @if (branches.Where(x => x.ID == CurrentUser.CurrentBranch && x.isMaster == false && x.Visible == true).FirstOrDefault() != null)
                                {
                                    <option value="@branches.Where(x => (x.ID == CurrentUser.CurrentBranch && x.isMaster ==false) ).DefaultIfEmpty().First().ID" data-content="<span style='color:red; font-weight: bold; font-size:12px; '>@branches.Where(x => x.ID == CurrentUser.CurrentBranch && x.isMaster == false).DefaultIfEmpty().First().BranchName.ToUpper()</span>  <span style='color:green;font-weight: bold; font-size:12px;'>(@branchFormats.Where(q => branches.Where(x => (x.ID == CurrentUser.CurrentBranch && x.isMaster == false)).Select(z => z.FormatID).FirstOrDefault() == q.ID).Select(Q => Q.FormatName).FirstOrDefault())</span>" ></option>
                                }
                                @foreach (var item in CurrentUser.Branches.OrderBy(z => z.BranchName))
                                {
                                    if (item.ID != branches.Where(x => (x.ID == CurrentUser.CurrentBranch)).FirstOrDefault().ID && item.isMaster == false && item.Visible == true)
                                    {
                                        <option value="@item.ID" data-content="<span style='color:red; font-weight: bold; font-size:12px; '>@item.BranchName.ToUpper()</span> <span style='color:green; font-weight: bold; font-size:12px; '>(@branchFormats.Where(q => item.FormatID == q.ID).Select(Q => Q.FormatName).FirstOrDefault())</span>"> </option>
                                    }
                                }
                            </select>
                        </div>
                        <!--<div class="col-md-1 col-sm-6 pb-2" style="align-self: center; text-align: left;">-->
                            @*<input disabled id="FormatName" class="pl-0 ml-0 pt-0 pr-0" style="color: green; background-color: transparent; font-size: 12px; width: 80px; border: 0px; font-size: 13px; font-weight: bold; " type="text" value="0" name="FormatName" placeholder="">
                            <input hidden id="FormatName" class=" col-md-2 pt-0 mt-0" style="color: red; background-color: transparent; width: 140px; border: 0px; font-size: 13px; font-weight: bold; " type="text" value="0" name="FormatName" placeholder="">*@
                        <!--</div>-->
                        <div class="col-lg-2 col-sm-6 pb-2" style=" align-self: center; ">
                            <div class="input-group date" style="width:100%;">
                                <span id="kt_datepicker_3" class="input-group-text" style="width: 100%; align-items: normal; padding: inherit; border: 1px solid #0049ff;">
                                    <input type="text" class="form-control" id="kt_datepicker_2" name="kt_datepicker_3" readonly placeholder="" value="" style=" font-size: 12px; color: red; text-align: center; " />
                                    <span class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar-check-o"></i>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 pr-0" style=" align-self: center;">
                            <div class="row">
                                <div class="col-4">
                                    <a class="btn btn-elevate btn-icon-sm pr-0 pt-2" style="align-self: center; font-weight: bold; font-size: 13px;">
                                        No:
                                    </a>
                                    <input disabled id="orderNewCode" class="pl-0 ml-0 pt-0 pr-0" style="color: red; background-color: transparent; font-size: 13px; width: 40px; border: 0px; font-size: 13px; font-weight: bold; " type="text" value="0" name="orderNewCode" placeholder="">
                                    <input hidden id="orderNewCode2" class="pl-0 ml-0 col-md-2 pt-1 pr-0" style="color: red; background-color: transparent; width: 140px; border: 0px; font-size: 13px; font-weight: bold; " type="text" value="0" name="orderNewCode2" placeholder="">
                                </div>
                                <div class="col-8" style="text-align:left;">


                                    <a class="btn btn-elevate btn-icon-sm pt-2 pr-0" style="align-self: center;font-weight: bold; font-size:13px;">
                                        Kalem Sayısı: <b class="" style="color:#003366;">  </b>
                                    </a>
                                    <input disabled id="productCountTotal" class="pl-0 ml-0 pt-0" style="font-size: 13px; color: red; background-color: transparent; width: 35px; border: 0px; font-size: 13px; font-weight: bold; " type="text" value="0" name="productCountTotal" placeholder="">
                                </div>
                      
                            </div>
                        </div>
                        <div class="col-md-3 pr-2 mr-0" style=" text-align-last: right;">
                            @if (zc == "list")
                            {
                                <a class="kt-menu__link pr-0">
                                    <span class="kt-menu__link-text" style=" font-size: 14px; ">
                                        <span class=" svg-icon svg-icon-primary " style="padding-top:2px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="30" height="30" />
                                                    <path d="M10.5,5 L19.5,5 C20.3284271,5 21,5.67157288 21,6.5 C21,7.32842712 20.3284271,8 19.5,8 L10.5,8 C9.67157288,8 9,7.32842712 9,6.5 C9,5.67157288 9.67157288,5 10.5,5 Z M10.5,10 L19.5,10 C20.3284271,10 21,10.6715729 21,11.5 C21,12.3284271 20.3284271,13 19.5,13 L10.5,13 C9.67157288,13 9,12.3284271 9,11.5 C9,10.6715729 9.67157288,10 10.5,10 Z M10.5,15 L19.5,15 C20.3284271,15 21,15.6715729 21,16.5 C21,17.3284271 20.3284271,18 19.5,18 L10.5,18 C9.67157288,18 9,17.3284271 9,16.5 C9,15.6715729 9.67157288,15 10.5,15 Z" fill="#ffb822" />
                                                    <path d="M5.5,8 C4.67157288,8 4,7.32842712 4,6.5 C4,5.67157288 4.67157288,5 5.5,5 C6.32842712,5 7,5.67157288 7,6.5 C7,7.32842712 6.32842712,8 5.5,8 Z M5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 C6.32842712,10 7,10.6715729 7,11.5 C7,12.3284271 6.32842712,13 5.5,13 Z M5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 C6.32842712,15 7,15.6715729 7,16.5 C7,17.3284271 6.32842712,18 5.5,18 Z" fill="#ffb822" opacity="0.3" />
                                                </g>
                                            </svg><!--end::Svg Icon-->
                                        </span>
                                    </span>
                                </a>
                                <a href="/Branch/NewOrder" onclick="window.location.reload()" class="kt-menu__link">
                                    <span class="kt-menu__link-text" style=" font-size: 14px; ">
                                        <span class="svg-icon svg-icon-primary" style="padding-top:2px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="30" height="30" />
                                                    <rect fill="#003366" opacity="0.3" x="4" y="4" width="4" height="4" rx="1" />
                                                    <path d="M5,10 L7,10 C7.55228475,10 8,10.4477153 8,11 L8,13 C8,13.5522847 7.55228475,14 7,14 L5,14 C4.44771525,14 4,13.5522847 4,13 L4,11 C4,10.4477153 4.44771525,10 5,10 Z M11,4 L13,4 C13.5522847,4 14,4.44771525 14,5 L14,7 C14,7.55228475 13.5522847,8 13,8 L11,8 C10.4477153,8 10,7.55228475 10,7 L10,5 C10,4.44771525 10.4477153,4 11,4 Z M11,10 L13,10 C13.5522847,10 14,10.4477153 14,11 L14,13 C14,13.5522847 13.5522847,14 13,14 L11,14 C10.4477153,14 10,13.5522847 10,13 L10,11 C10,10.4477153 10.4477153,10 11,10 Z M17,4 L19,4 C19.5522847,4 20,4.44771525 20,5 L20,7 C20,7.55228475 19.5522847,8 19,8 L17,8 C16.4477153,8 16,7.55228475 16,7 L16,5 C16,4.44771525 16.4477153,4 17,4 Z M17,10 L19,10 C19.5522847,10 20,10.4477153 20,11 L20,13 C20,13.5522847 19.5522847,14 19,14 L17,14 C16.4477153,14 16,13.5522847 16,13 L16,11 C16,10.4477153 16.4477153,10 17,10 Z M5,16 L7,16 C7.55228475,16 8,16.4477153 8,17 L8,19 C8,19.5522847 7.55228475,20 7,20 L5,20 C4.44771525,20 4,19.5522847 4,19 L4,17 C4,16.4477153 4.44771525,16 5,16 Z M11,16 L13,16 C13.5522847,16 14,16.4477153 14,17 L14,19 C14,19.5522847 13.5522847,20 13,20 L11,20 C10.4477153,20 10,19.5522847 10,19 L10,17 C10,16.4477153 10.4477153,16 11,16 Z M17,16 L19,16 C19.5522847,16 20,16.4477153 20,17 L20,19 C20,19.5522847 19.5522847,20 19,20 L17,20 C16.4477153,20 16,19.5522847 16,19 L16,17 C16,16.4477153 16.4477153,16 17,16 Z" fill="#003366" />
                                                </g>
                                            </svg><!--end::Svg Icon-->
                                        </span>
                                    </span>
                                </a>
                            }
                            else
                            {
                                <a href="/Branch/NewOrder?list" onclick="window.location.reload()" class="kt-menu__link pr-0">
                                    <span class="kt-menu__link-text" style=" font-size: 14px; ">
                                        <span class=" svg-icon svg-icon-primary " style="padding-top:2px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="30" height="30" />
                                                    <path d="M10.5,5 L19.5,5 C20.3284271,5 21,5.67157288 21,6.5 C21,7.32842712 20.3284271,8 19.5,8 L10.5,8 C9.67157288,8 9,7.32842712 9,6.5 C9,5.67157288 9.67157288,5 10.5,5 Z M10.5,10 L19.5,10 C20.3284271,10 21,10.6715729 21,11.5 C21,12.3284271 20.3284271,13 19.5,13 L10.5,13 C9.67157288,13 9,12.3284271 9,11.5 C9,10.6715729 9.67157288,10 10.5,10 Z M10.5,15 L19.5,15 C20.3284271,15 21,15.6715729 21,16.5 C21,17.3284271 20.3284271,18 19.5,18 L10.5,18 C9.67157288,18 9,17.3284271 9,16.5 C9,15.6715729 9.67157288,15 10.5,15 Z" fill="#003366" />
                                                    <path d="M5.5,8 C4.67157288,8 4,7.32842712 4,6.5 C4,5.67157288 4.67157288,5 5.5,5 C6.32842712,5 7,5.67157288 7,6.5 C7,7.32842712 6.32842712,8 5.5,8 Z M5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 C6.32842712,10 7,10.6715729 7,11.5 C7,12.3284271 6.32842712,13 5.5,13 Z M5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 C6.32842712,15 7,15.6715729 7,16.5 C7,17.3284271 6.32842712,18 5.5,18 Z" fill="#003366" opacity="0.3" />
                                                </g>
                                            </svg><!--end::Svg Icon-->
                                        </span>
                                    </span>
                                </a>
                                <a class="kt-menu__link">
                                    <span class="kt-menu__link-text" style=" font-size: 14px; ">
                                        <span class="svg-icon svg-icon-primary" style="padding-top:2px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="30" height="30" />
                                                    <rect fill="#ffb822" opacity="0.3" x="4" y="4" width="4" height="4" rx="1" />
                                                    <path d="M5,10 L7,10 C7.55228475,10 8,10.4477153 8,11 L8,13 C8,13.5522847 7.55228475,14 7,14 L5,14 C4.44771525,14 4,13.5522847 4,13 L4,11 C4,10.4477153 4.44771525,10 5,10 Z M11,4 L13,4 C13.5522847,4 14,4.44771525 14,5 L14,7 C14,7.55228475 13.5522847,8 13,8 L11,8 C10.4477153,8 10,7.55228475 10,7 L10,5 C10,4.44771525 10.4477153,4 11,4 Z M11,10 L13,10 C13.5522847,10 14,10.4477153 14,11 L14,13 C14,13.5522847 13.5522847,14 13,14 L11,14 C10.4477153,14 10,13.5522847 10,13 L10,11 C10,10.4477153 10.4477153,10 11,10 Z M17,4 L19,4 C19.5522847,4 20,4.44771525 20,5 L20,7 C20,7.55228475 19.5522847,8 19,8 L17,8 C16.4477153,8 16,7.55228475 16,7 L16,5 C16,4.44771525 16.4477153,4 17,4 Z M17,10 L19,10 C19.5522847,10 20,10.4477153 20,11 L20,13 C20,13.5522847 19.5522847,14 19,14 L17,14 C16.4477153,14 16,13.5522847 16,13 L16,11 C16,10.4477153 16.4477153,10 17,10 Z M5,16 L7,16 C7.55228475,16 8,16.4477153 8,17 L8,19 C8,19.5522847 7.55228475,20 7,20 L5,20 C4.44771525,20 4,19.5522847 4,19 L4,17 C4,16.4477153 4.44771525,16 5,16 Z M11,16 L13,16 C13.5522847,16 14,16.4477153 14,17 L14,19 C14,19.5522847 13.5522847,20 13,20 L11,20 C10.4477153,20 10,19.5522847 10,19 L10,17 C10,16.4477153 10.4477153,16 11,16 Z M17,16 L19,16 C19.5522847,16 20,16.4477153 20,17 L20,19 C20,19.5522847 19.5522847,20 19,20 L17,20 C16.4477153,20 16,19.5522847 16,19 L16,17 C16,16.4477153 16.4477153,16 17,16 Z" fill="#ffb822" />
                                                </g>
                                            </svg><!--end::Svg Icon-->
                                        </span>
                                    </span>
                                </a>
                            }
                            <a class="btn btn-danger" style="color:white;" onclick="cancelToNewOrder()" id="btn1">
                                Vazgeç
                            </a>

                            <button type="submit" class="btn btn-warning" style="color:white;" onclick="" id="btn15">
                                <i class="la la-save"></i>
                                Kaydet
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body pt-2">
                <div class="row">
                    <div class="col-lg-1 pl-4 " style=" align-self: center;text-align:left; ">
                        <h6 class="pre-with-output mr-0 pr-0 ml-0 pl-0" style="color:black; ">Ana Kategori Seç</h6>
                    </div>
                    <div class="col-lg-3 col-sm-6 pt-2 pl-0 pr-0" style=" align-self: center; ">
                        <select id="ProductGroup" class="custom-select form-control pl-2 pr-1 selectpicker" name="ProductGroup">
                            @foreach (var item in productGroups)
                            {

                                <option value="@item.ID">@item.Name.ToUpper() </option>

                            }
                        </select>
                    </div>
                    <div class="col-2"></div>
                    <div class=" col-md-3 pt-2 pr-2 pl-2">
                        <input type="text" id="myInput" style="font-size:11px" class="form-control" onkeyup="myFunction(this.value)" placeholder="Ara..." title="">
                    </div>
                    <div class="col-md-3 pt-2 pr-2 pl-2">
                        <input type="text" id="userName" name="userName" class="form-control" style="font-size:11px" placeholder="Siparişi Oluşturan Kişi" required>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body pt-2" id="newOrder">
                <!--begin: Datatable -->

                <div class="kt-content  kt-grid__item kt-grid__item--fluid pt-1 pb-0 mb-0 pr-1 pl-1" id="kt_content">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills mb-3" id="myTab" name="myTab" role="tablist">

                                @foreach (var items in productGroup2s.OrderBy(q => q.ID))
                                {
                                    int count= products.Where(z=>z.Visible==false && z.ProductGroup2ID==items.ID).Count();
                                    if (i == 0)
                                    {
                                        <li class="nav-item mt-1 mb-2" style=" border: 1px solid #003366; background-color: #ffb82236; border-radius: 0.25rem;">
                                            <a class="nav-link active" style="min-width: 100px; text-align: center;" id="profile-tab" data-toggle="tab" href="#TabPanel_@items.CodeRand" role="tab" aria-controls="profile" aria-selected="false"><b>@items.Name.ToUpper() (@count)</b></a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item mt-1 mb-2" style=" border: 1px solid #003366; background-color: #ffb82236; border-radius: 0.25rem;">
                                            <a class="nav-link" style="min-width: 100px; text-align: center;" id="profile-tab" data-toggle="tab" href="#TabPanel_@items.CodeRand" role="tab" aria-controls="profile" aria-selected="false"><b>@items.Name.ToUpper() (@count)</b></a>
                                        </li>
                                    }
                                    i++;
                                }
                                <li class="nav-item mt-1 mb-2" style="border: 1px solid #003366; background-color: #ffb82236; border-radius: 0.25rem; ">
                                    <a class="nav-link" style="min-width: 100px; text-align: center;" id="profile-tab" data-toggle="tab" href="#OrderBrief" role="tab" aria-controls="profile" aria-selected="false" onclick="reloadtableabs()"><b>SİPARİŞ ÖZETİ</b></a>
                                </li>

                            </ul>
                        </div>
                       

                    </div>
                </div>
                <div class="tab-content mt-0" id="myTabContent">
                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit mt-0 pt-0 mb-0 pb-0"></div>
                    @foreach (var items in productGroup2s.OrderBy(q => q.ID))
                    {
                        if (settings2 == "1" && settings3=="1")
                        {
                            if (zc == "list")
                            {
                                if (k == 0)
                                {
                                    <div class="tab-pane fade show active" id="TabPanel_@items.CodeRand" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                                        <div class="kt-content  kt-grid__item kt-grid__item--fluid pt-2 mt-2 pl-0 ml-0 mr-0 pr-0" id="kt_content">

                                            <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenewCap_@items.ID" data-name="mytable">
                                                <thead>
                                                    <tr>
                                                        <th>Barkodu</th>
                                                        <th>Ürün Adı</th>
                                                        <th>Satış Fiyatı</th>
                                                        <th>Eldeki Stok</th>
                                                        <th>Sipariş Miktarı</th>
                                                        <th>Sipariş Yok</th>
                                                        <th>Koli İçi</th>
                                                        <th>Kapasite</th>
                                                        <th>Sipariş Kontrol</th>
                                                        <th>Açıklama</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="tab-pane fade" id="TabPanel_@items.CodeRand" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                                        <div class="kt-content  kt-grid__item kt-grid__item--fluid pt-2 mt-2 pl-0 ml-0 mr-0 pr-0" id="kt_content">

                                            <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenewCap_@items.ID" data-name="mytable">
                                                <thead>
                                                    <tr>
                                                        <th>Barkodu</th>
                                                        <th>Ürün Adı</th>
                                                        <th>Satış Fiyatı</th>
                                                        <th>Sipariş Yok</th>
                                                        <th>Eldeki Stok</th>
                                                        <th>Sipariş Miktarı</th>
                                                        <th>Koli İçi</th>
                                                        <th>Kapasite</th>
                                                        <th>Sipariş Kontrol</th>
                                                        <th>Açıklama</th>

                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                }
                                k++;


                            }
                            else
                            {
                                if (k == 0)
                                {
                                    <div class="tab-pane fade show active" id="TabPanel_@items.CodeRand" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                                        <div class="kt-content  kt-grid__item kt-grid__item--fluid pt-2 mt-2 pl-0 ml-0 mr-0 pr-0" id="kt_content">

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenewcapa1_@items.ID" data-name="mytable">
                                                        <thead>
                                                            <tr>
                                                                <th></th>


                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                                <div class="col-md-3">
                                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenewcapa2_@items.ID" data-name="mytable">
                                                        <thead>
                                                            <tr>
                                                                <th></th>


                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                                <div class="col-md-3">
                                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenewcapa3_@items.ID" data-name="mytable">
                                                        <thead>
                                                            <tr>
                                                                <th></th>


                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                                <div class="col-md-3">
                                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenewcapa4_@items.ID" data-name="mytable">
                                                        <thead>
                                                            <tr>
                                                                <th></th>


                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                }
                                else
                                {
                                    <div class="tab-pane fade" id="TabPanel_@items.CodeRand" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                                        <div class="kt-content  kt-grid__item kt-grid__item--fluid pt-2 mt-2 pl-0 ml-0 mr-0 pr-0" id="kt_content">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenewcapa1_@items.ID" data-name="mytable">
                                                        <thead>
                                                            <tr>
                                                                <th></th>


                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                                <div class="col-md-3">
                                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenewcapa2_@items.ID" data-name="mytable">
                                                        <thead>
                                                            <tr>
                                                                <th></th>


                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                                <div class="col-md-3">
                                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenewcapa3_@items.ID" data-name="mytable">
                                                        <thead>
                                                            <tr>
                                                                <th></th>


                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                                <div class="col-md-3">
                                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenewcapa4_@items.ID" data-name="mytable">
                                                        <thead>
                                                            <tr>
                                                                <th></th>


                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                k++;
                            }
                        }



                        else  
                        {
                            if (zc == "list")
                            {
                                if (k == 0)
                                {
                                    <div class="tab-pane fade show active" id="TabPanel_@items.CodeRand" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                                        <div class="kt-content  kt-grid__item kt-grid__item--fluid pt-2 mt-2 pl-0 ml-0 mr-0 pr-0" id="kt_content">

                                            <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenew_@items.ID" data-name="mytable">
                                                <thead>
                                                    <tr>
                                                        <th>Barkodu</th>
                                                        <th>Ürün Adı</th>
                                                        <th>Satış Fiyatı</th>
                                                        <th>Eldeki Stok</th>
                                                        <th>Sipariş Miktarı</th>
                                                        <th>Sipariş Yok</th>
                                                        <th>Kapasite</th>
                                                        <th>Sipariş Kontrol</th>
                                                        <th>Açıklama</th>

                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="tab-pane fade" id="TabPanel_@items.CodeRand" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                                        <div class="kt-content  kt-grid__item kt-grid__item--fluid pt-2 mt-2 pl-0 ml-0 mr-0 pr-0" id="kt_content">

                                            <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenew_@items.ID"  data-name="mytable">
                                                <thead>
                                                    <tr>
                                                        <th>Barkodu</th>
                                                        <th>Ürün Adı</th>
                                                        <th>Satış Fiyatı</th>
                                                        <th>Eldeki Stok</th>
                                                        <th>Sipariş Miktarı</th>
                                                        <th>Sipariş Yok</th>
                                                        <th>Kapasite</th>
                                                        <th>Sipariş Kontrol</th>
                                                        <th>Açıklama</th>


                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                }
                                k++;
                            }
                            else
                            {
                                if (k == 0)

                                {
                                    <div class="tab-pane fade show active" id="TabPanel_@items.CodeRand" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                                        <div class="kt-content  kt-grid__item kt-grid__item--fluid pt-2 mt-2 pl-0 ml-0 mr-0 pr-0" id="kt_content">
                                            <div class="row">
                                                <div class="col-md-3 pb-5 mb-5">
                                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenew1_@items.ID" data-name="mytable">
                                                        <thead>
                                                            <tr>
                                                                <th></th>

                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>

                                                <div class="col-md-3">


                                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenew2_@items.ID" data-name="mytable">
                                                        <thead>
                                                            <tr>
                                                                <th></th>

                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                                <div class="col-md-3">


                                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenew3_@items.ID" data-name="mytable">
                                                        <thead>
                                                            <tr>
                                                                <th></th>

                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                                <div class="col-md-3">


                                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenew4_@items.ID" data-name="mytable">
                                                        <thead>
                                                            <tr>
                                                                <th></th>

                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="tab-pane fade" id="TabPanel_@items.CodeRand" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                                        <div class="kt-content  kt-grid__item kt-grid__item--fluid pt-2 mt-2 pl-0 ml-0 mr-0 pr-0" id="kt_content">

                                            <div class="row">
                                                <div class="col-md-3 pb-5 mb-5">
                                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenew1_@items.ID" data-name="mytable">
                                                        <thead>
                                                            <tr>
                                                                <th></th>

                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                                <div class="col-md-3">


                                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenew2_@items.ID" data-name="mytable">
                                                        <thead>
                                                            <tr>
                                                                <th> </th>

                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                                <div class="col-md-3">


                                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenew3_@items.ID" data-name="mytable">
                                                        <thead>
                                                            <tr>
                                                                <th></th>

                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                                <div class="col-md-3">


                                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="tablenew4_@items.ID" data-name="mytable">
                                                        <thead>
                                                            <tr>
                                                                <th></th>

                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                k++;
                            }
                        }

                    }
                    <div class="tab-pane fade" id="Capacity" role="tabpanel" aria-labelledby="profile-tab">
                        <!--Begin: Kapasite Durum-->
                        deneme
                        <!--End: Kapasite Durum-->
                    </div>
                    <div class="tab-pane fade" id="OrderBrief" role="tabpanel" aria-labelledby="profile-tab">
                        <!--Begin: Sipariş Özet-->
                        <div class="kt-content  kt-grid__item kt-grid__item--fluid pt-1 pl-0 pr-0 mt-1 mr-0 ml-0" id="kt_content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="kt-portlet__body kt-portlet__body--fit">
                                        <div class="kt-invoice-2">
                                            <div class="kt-invoice__wrapper">
                                                <div class="kt-invoice__head">
                                                    <div class="kt-invoice__container kt-invoice__container--centered" style=" width: 100%; ">
                                                        <div class="kt-invoice__logo pt-0">
                                                            <div class="row" style="width:100%">
                                                                <div class="col-md-6">
                                                                    <input disabled id="orderAbsBranch" class="col-12 pr-0 mr-3" style=" color: red; background-color: transparent; width: 100%; border: 0px; font-size: 18px; font-weight: bold; " type="text" value="Sipariş Özeti - @branches.Where(q=> q.ID == CurrentUser.CurrentBranch).FirstOrDefault().BranchName.ToUpper()" name="orderAbsBranch" placeholder="">
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div style="width: 100%; text-align: right;" class="pr-2 mr-2">
                                                                        <div class="row" style="text-align-last: right;">
                                                                            <div class="col-6">
                                                                                <span class="kt-invoice__subtitle pt-1 " style="min-width:30px;"><b>Tarih:</b></span>
                                                                                <span id="orderdateabs" style="color:red;"></span> <br />
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <span class="kt-invoice__subtitle "><b>Sipariş No:</b> </span>
                                                                                <span id="orderNoAbs" class="kt-invoice__text " style="color:red;">003366</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @*<div class="row">

                                                                <h4 class="col-12" style="text-align-last:right; color: #003366; background-color: transparent; width: 100%; border: 0px; font-size: 18px; font-weight: bold;">Dost Mağazacılık A.Ş. - Tanzim</h4>
                                                            </div>*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kt-content  kt-grid__item kt-grid__item--fluid pt-2 mt-2 pl-0 ml-0 mr-0 pr-0">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped- table-bordered table-hover table-checkable" id="tableOrderAbstract">
                                                            <thead>
                                                                <tr>
                                                                    <th>S/N</th>
                                                                    <th>Ürün Grubu</th>
                                                                    <th>Barkodu</th>
                                                                    <th>Ürün Adı</th>
                                                                    <th>Birim</th>
                                                                    <th>Sipariş Miktarı</th>
                                                                    <th>Eldeki Stok</th>
                                                                    <th>Açıklama</th>
                                                                    <th></th>


                                                                </tr>
                                                            </thead>
                                                            <tfoot align="right">
                                                                <tr>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th colspan="2"></th>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--End: Sipariş Özet-->
                    </div>

                </div>
            </div>
            <!--end: Datatable -->
        </div>
    </form>
</div>







<select id="groupIds" style="visibility:hidden;">
    @foreach (var group in productGroup2s.OrderBy(q => q.ID))
    {
        <option value="@group.ID"></option>
    }
    @CurrentUser.CurrentBranch
</select>

<script src="./assets/vendors/general/jquery/dist/jquery.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        orderRandomCode();
    });
</script>
<script>
    $(document).ready(function () {
        UTCToday();
    });
</script>
<script>
    $(document).ready(function () {
        var branchID = $('#branch').val();
        var url = window.location.href;
        var OrderCode = url.substring(url.lastIndexOf('?') + 1);
        var settings = $('#settings').val();
        var settings2 = $('#settings2').val();

        if (settings == "1" && settings2=="1") {
            if (OrderCode == "list") {
                $("#groupIds > option").each(function () {
                    getOrderProductsListViewCap(this.value, branchID);
                });
            }
            else {
                $("#groupIds > option").each(function () {
                    getOrderProductsCap(this.value, branchID);
                });
            }
        }
        else {
            if (OrderCode == "list") {
               $("#groupIds > option").each(function () {
                   getOrderProductsListView(this.value, branchID);



                    });
                if (settings == "0") {

                    $("#groupIds > option").each(function () {
                        debugger
                        let group = Number(this.value);

                        var table = $("#tablenew_"+group).DataTable();

                        table.column(6).visible(false);
                        table.column(7).visible(false);

                    });

                }

        }
        else {
            $("#groupIds > option").each(function () {
                getOrderProducts(this.value, branchID);
            });
            }
        }
    });
</script>

<script>
    $(document).ready(function () {
        var id = $('#categoryForOrder').val();
        getCategoryForOrder(id);
    });
</script>

<script>
    $(document).ready(function () {
        var branchID = $('#branch').val();
        getOrderAbs(branchID);
    });
</script>

<script>
    $(document).ready(function () {
        var branchID = $('#branch').val();
        productCountTotal(branchID);
        //ProductFormat(branchID);
    });
</script>

<script>
    $(document).ready(function () {
        getEditLogoCompany1();

    });
</script>

<script>
    debugger
    $('#btn15').click(function () {
        $('input:invalid').each(function () {
            debugger
            // Find the tab-pane that this element is inside, and get the id
            var $closest = $(this).closest('.tab-pane');
            var id = $closest.attr('id');
            // Find the link that corresponds to the pane and have it show
            $('.nav a[href="#' + id + '"]').tab('show');
            // Only want to do it once
            return false;
        });
    });


</script>
<script>
    function myFunction(value) {
        debugger
        var input, filter, table, tr, td, i, alltables;
        alltables = document.querySelectorAll("table[data-name=mytable]");
        input = document.getElementById("myInput");
        filter = value.toUpperCase();
        alltables.forEach(function (table) {
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                var url = window.location.href;
                var OrderCode = url.substring(url.lastIndexOf('?') + 1);
                if (OrderCode == "list") {
                    td = tr[i].getElementsByTagName("td")[1];
                }
                else
                    td = tr[i].getElementsByTagName("td")[0];

                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        });
    }
</script>

